.hero-div{
    width: 128vw;
    height: 6rem;
    border: 2px solid black;
}

.hero-img{
    background-image: url("https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/1e31c9d65e3b4592.jpg?q=20");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}